*{
    margin: 0;
    padding: 0;
    color: #0b2349;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica';
    list-style: none ;
    text-decoration: none;
}
body {
    height: 100vh;
    width: 100vw;
    background: url('img/Backround.jpg') center;
    background-size: cover;
    background-attachment: fixed;
}
header {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 4vh;
    width: 100%;
}

header nav{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 70%;
}
.navegacion-logo{
    display: flex;
}
.navegacion-logo a{
    transition: .3s;
}
.navegacion-logo a:hover{
    text-decoration: underline;    
}
.navegacion-links{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 70%;
    border-radius: 20px;
    background: #ffffff8f;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.363);
}
.navegacion-links ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navegacion-links ul li a{
    font-size: 110%;
    font-weight: bold;
    transition: .3s;
}

.navegacion-links ul li a:hover{
    scale: 1.05;
    text-decoration: underline;
}
/* Main */

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20em;
    width: 18em;
    border-radius: 20px;
    background: #ffffff3d;
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.login span{
    font-size: 130%;
    font-weight: bold;
}

.login .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2em 0;
}

.form-group .form-control{

    height: 1.5em;
    width: 110%;
    padding: 5px;
    border: none !important;
    border-radius: 5px;
    background: #ffffff8c;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.login .form-group label{
    display: flex;
    width: 110%;
    text-align: start;
    font-weight: 600;
}
.btn-primary{
    height: 1.5em;
    width: 50%;
    border-radius: 5px;
    background-color: #ffffff6c;
    backdrop-filter: blur(2px);
    border: none;
    transition: .2s;
}
.btn-primary:hover{
    font-weight: bold;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.btn-primary:active{
    background: #133d8081;
}
.login a span{
    font-size: 90%;
    text-decoration: underline;
}
.login a span:hover{
    color: #133d80;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}